.company {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.company__item {
    width: 100%;
    @media screen and (min-width: 480px) {
        flex-basis: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 3 * 30px) / 3);
        margin: 15px;
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 6 * 30px) / 6);
        margin: 15px;
    }
}
.company .company__item:not(:last-child) {
    margin-bottom: 30px;
}
.company__link {
    align-items: center;
    display: flex;
    @include size(210px, 92px, 4px);
    border: 1px solid #afb1b8;
    margin-left: auto;
    @media screen and (min-width: 768px) {
        @include size(226px, 92px, 4px);
    }
    @media screen and (min-width: 1200px) {
        @include size(170px, 92px, 4px);
    }
    &:hover {
        border: 1px solid var(--accent-color);
    }
}
.company__icon {
    @include transition(fill);
    margin: 0 auto;
    fill: var(--icon-color);
    .company__link:hover & {
        fill: var(--accent-color);
    }
}
